@import url('https://fonts.googleapis.com/css?family=Molle:400i');

/*
 * clear all margins and paddings */
* {margin: 0; padding: 0;}

html, body {
  width:  100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #1a82f7;
  background-repeat: repeat-x;
  background: -moz-linear-gradient(top, #2F2727, #1a82f7);
  background: -webkit-linear-gradient(top, #2F2727, #1a82f7);
}

canvas {
	display: block;
}

#container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  right: 40px;
  top: 40px;
}

#merrymessage {
  top: 10px;
  color: #9f9;
  text-align: center;
  text-decoration: none;
  font-family: 'Molle', cursive;
  font-size: 5em;
  text-shadow:
  -3px -1px 0 #090,
  3px -1px 0 #090,
  -3px 1px 0 #090,
  3px 1px 0 #090; 
}

#usermessage {
  position: absolute;
  top: 160px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-family: 'Molle', cursive;
  font-size: 4em;
  text-shadow:
  -1px -1px 0 #f00,
  1px -1px 0 #f00,
  -1px 1px 0 #f00,
  1px 1px 0 #f00; 
}

#fullscreenbutton {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
